<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.services.googleAnalytics.ID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .Site.Params.services.googleAnalytics.ID }}');
</script>

<!-- LightGallery CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css">

<!-- Custom TOC CSS -->
{{ $customTocCSS := resources.Get "css/custom-toc.css" }}
{{ if $customTocCSS }}
<link rel="stylesheet" href="{{ $customTocCSS.RelPermalink }}">
{{ end }}
